/* Variables */

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Playfair Display', serif;
$black: #000;
$white: #fff;
$off-black: #333;
$gray: #BBBBBB;
$primary: #119AF7;
$secondary: #FA1821;

/*Mixins*/

$phone-width: 18rem;
$desktop-width: 50rem;

@mixin phone {
  @media only screen and (min-width: 0px) and (max-width: #{$desktop-width - .0625rem}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}), only screen and (min-device-width: #{$desktop-width}) {
    @content;
  }
}
